/* ======= Navbar style ======= */
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
}

.navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler-icon,
.navbar .icon-bar {
    color: #FFF;
}

.navbar .navbar-nav .nav-link {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin: 1px;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    transition: all .4s;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .navbar-nav .nav-link.nav-color {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #aa8453;
}

.navbar .navbar-nav .active {
    color: #aa8453 !important;
}

.navbar .navbar-nav .active i {
    color: #aa8453;
}

.nav-scroll {
    background: #fff;
    padding: 0 0 0 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-box-shadow: 0px 5px 15px #0f24540d;
    box-shadow: 0px 5px 15px #0f24540d;
    height: 90px;
}

.nav-scroll .navbar-toggler-icon,
.nav-scroll .icon-bar {
    color: #aa8453;
}

.nav-scroll .navbar-nav .nav-link {
    color: #222;
}

.nav-scroll .navbar-nav .active {
    color: #aa8453 !important;
}

.nav-scroll .navbar-nav .logo {
    padding: 15px 0;
    color: #fff;
}

.nav-scroll .logo-img {
    width: 160px;
}

.nav-scroll .logo-img {
    margin-bottom: 0px;
}

.nav-scroll .logo-wrapper .logo h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 27px;
    font-weight: 400;
    display: block;
    width: 100%;
    position: relative;
    color: #aa8453;
    margin-bottom: 0;
    padding: 20px 0;
    letter-spacing: 1px;
    text-align: center;
}

.nav-scroll .logo-wrapper .logo span {
    display: block;
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    color: #222;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    margin-top: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.nav-scroll .logo-wrapper {}

.logo-wrapper {
    float: left;
}

.logo-wrapper .logo h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 27px;
    font-weight: 400;
    display: block;
    width: 100%;
    position: relative;
    color: #aa8453;
    margin-bottom: 0;
    padding: 20px 0;
    letter-spacing: 1px;
    text-align: center;
}

.logo-wrapper .logo h2 a i {
    color: #fff;
    font-size: 20px;
    vertical-align: super;
}

.logo-wrapper .logo span {
    display: block;
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    margin-top: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.logo {
    padding: 0;
}

.logo-img {
    padding: 20px 0;
    width: 160px;
    text-align: center;
}

.dropdown .nav-link i {
    padding-left: 0px;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.7);
}

.nav-scroll .dropdown .nav-link i {
    color: #222;
}

.nav-scroll .navbar-nav .active i {
    color: #aa8453;
}

.navbar .dropdown-menu .dropdown-item {
    padding: 5px 0;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: transparent;
}

.navbar .dropdown-menu .dropdown-item span {
    display: block;
    cursor: pointer;
}

.navbar .dropdown-menu .dropdown-item i {
    padding: 13px 0 0 5px;
    font-size: 8px;
    float: right;
}

.navbar .dropdown-menu .dropdown:hover>.dropdown-item,
.navbar .dropdown-menu .dropdown-item.active,
.navbar .dropdown-menu .dropdown-item:hover {
    color: #aa8453;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.navbar .dropdown-menu {
    box-shadow: 0 16px 50px #00000012;
}

.navbar .dropdown-menu li {
    border-bottom: 1px solid #f4f4f4;
}

.navbar .dropdown-menu li:last-child {
    border-bottom: none;
}

.navbar .dropdown-menu .dropdown-menu.pull-left {
    top: 0;
    left: auto;
    right: 100%;
}

/* Navbar Media Query */
@media screen and (min-width: 992px) {
    .navbar .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        width: 190px;
        padding: 15px;
        border-radius: 0;
        border: 0;
        background-color: #fff;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .navbar .dropdown-menu .dropdown-menu {
        left: calc(100% + 5px);
        top: -10px;
        right: auto;
        min-width: 190px;
        transform: translateY(0);
    }

    .navbar .dropdown:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        padding-left: 0px;
        padding-right: 0px;
        background: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 90px;
    }

    .nav-scroll {
        background: #fff;
    }

    .logo-wrapper {
        float: left;
        padding: 26px 0 26px 15px;
    }

    .nav-scroll .logo-wrapper {
        padding: 26px 0 26px 20px;
        background-color: transparent;
      
    }

    .nav-scroll .logo-img {
        width: 160px;
    }

    .navbar .logo {
        text-align: left;
        margin-left: 0px;
    }

    .nav-scroll .logo {}

    .logo-img {
        margin-bottom: 0px;
        width: 160px;
        padding: 0;
    }

    .navbar button {
        margin-right: 0px;
        outline: none !important;
        background: transparent;
        margin-top: 10px;
        border: none;
        padding-right: 20px;
    }

    .navbar button:hover {
        background: transparent;
    }

    .navbar button:active,
    .navbar button:focus,
    .navbar button:hover {
        background: transparent;
        outline: none;
        color: transparent !important;
    }

    .navbar .container {
        
        max-width: 100% !important;
        padding: 0 !important;
    }

    .navbar .nav-link {
        margin: 0px auto !important;
    }

    .navbar .navbar-nav .nav-link {
        color: #222;
    }

    .nav-scroll .navbar-collapse .nav-link {
        color: #222 !important;
    }

    .nav-scroll .navbar-collapse .active {
        color: #aa8453 !important;
    }

    .navbar .dropdown-menu .dropdown-item {
        padding: 0 15px;
        font-size: 15px;
        line-height: 40px;
    }

    .navbar .dropdown-menu .dropdown-item.dropdown-toggle {
        font-weight: 400;
    }

    .navbar .dropdown-submenu .dropdown-toggle::after {
        right: 15px;
        font-size: 13px;
    }

    .navbar .dropdown-submenu:hover>.dropdown-toggle::after {
        transform: rotate(0deg);
    }

    .navbar .dropdown-submenu .dropdown-toggle.show::after {
        transform: rotate(90deg);
    }

    .navbar .dropdown-menu {
        border: none;
        padding: 0;
        border-radius: 0;
        margin: 0;
        background: #fff;
        box-shadow: none;
    }

    .navbar .dropdown-submenu .dropdown-menu {
        margin: 0;
        padding: 0 0 0 20px;
    }

    .navbar .dropdown-menu li a {
        padding: 0 15px;
    }

    .navbar .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
    }

    .dropdown .nav-link i {
        color: #222;
    }

    .nav-scroll .dropdown .nav-link i {
        color: #222;
    }

    .nav-scroll .dropdown .nav-link.active i {
        color: #aa8453;
    }

    .navbar .navbar-collapse {
        max-height: 450px;
        overflow: auto;
        background: #fff;
        text-align: left;
        padding: 20px;
    }
}



/* ======= Header style ======= */
.header {
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Prata', serif;
}

.header .caption .o-hidden {
    display: inline-block;
}

.header .caption h2 {
    font-weight: 400;
    font-size: 30px;
}

.header .caption span i.star-rating {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.header .caption h4 {
    font-family: 'Barlow', serif;
    ;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.header .caption h1 {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Prata', serif;
    ;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.35em;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    color: #fff;
    font-weight: 400;
    letter-spacing: 15px;
}

.header .caption h5 {
    color: #FFF;
    text-align: center;
    font-family: 'Barlow', serif;;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 20px;
}

.header .caption  .btn{
    margin: auto;
    margin-top: 50px;
}


.header .caption h3 {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Prata', serif;
    ;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.35em;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    color: #fff;
    font-weight: 400;
    letter-spacing: 7px;
}

.header .caption p {
    font-size: 18px;
    line-height: 1.75em;
    margin-bottom: 0;
    color: #fff;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    margin-right: 15px;
}

.header .caption p span {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 5px;
    padding-right: 14px;
    position: relative;
}

.header .caption p span:last-child {
    padding: 0;
}

.header .caption p span:last-child:after {
    display: none;
}

.header .caption p span:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: .5;
}

.header .caption .butn-light {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.header .caption .butn-dark {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.header .social a {
    color: #eee;
    font-size: 20px;
    margin: 10px 15px;
}

hr {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1199px) {
    .navbar .navbar-nav .nav-link {
        font-size: 14px;
        padding-right: 7px;
        padding-left: 7px;
    }
}